{% extends "base.html" %}
{% block content %}

  <span class="label label-info"><h2>Sign in to PROM UA test chat</h2></span>
  <br clear="all">

  <form action="{{ url_for('login') }}" method=post class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Enter Username" required>
        </div>
    </div>
 
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input name="remember_me" type="checkbox"> Remember me
            </label>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signin</button>
        </div>
    </div>
  </form>

  <div class="leave">
    <a class="btn btn-warning" href="{{ url_for('register') }}">Registration</a>
  </div>
{% endblock %}