{% extends "base.html" %}
{% block content %}

  <span class="label label-inverse"><h2>Register to chat</h2></span>

  <form action="{{ url_for('register') }}" method=post class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Enter Username" value="{{ request.form.username }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" value="{{ request.form.password }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input type="email" id="email" name="email" class="input-xlarge"
            placeholder="Enter Email" value="{{ request.form.username }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signup</button>
    </div>
    </div>
  </form>

  <div class="leave">
    <a class="btn btn-warning" href="{{ url_for('rooms') }}">Return to index</a>
  </div>
{% endblock %}