{% extends "base.html" %}

{% block title %} Welcome in {{ room }}! {% endblock %}

{% block extra_js %}
<script type="text/javascript">
    window.room = "{{ room.id }}";
</script>
<script src="/static/js/chat.js"></script>
{% endblock %}

{% block content %}

        <div class="leave">
            <a href="/">Leave room</a>
        </div>

<div id="chat">
    <div id="connecting">
        <div class="wrap">Connecting to socket.io server</div>
    </div>

    <div id="messages">
        <div id="nicknames"><span>Online:</span></div>
        <div id="lines"></div>
    </div>

    <form id="send-message">
        <input id="message">
        <button>Send</button>
    </form>

    <form id="find-message">
        <input id="search">
        <button>Find</button>
    </form>
</div>
{% endblock %}
