{% extends "base.html" %}

{% block extra_js %}
{% endblock %}

{% block content %}

    <span class="label label-info"><h1>List of rooms:</h1></span>
    <br clear="all">
    <div class="btn-group btn-group-vertical room">
        {% for room in rooms %}
            <a class="btn btn-info" href="{{ room.get_absolute_url() }}">{{ room }}</a>
        {% else %}
        <p>There are currently no rooms! Add one below.</p>
        {% endfor %}
    </div>
    <br clear="all">
{% endblock content %}

{% block form %}
    <form class="form-inline" method="post" action="{{ url_for('create') }}">
        <input type="text" id="name" name="name" placeholder="Input room name">
        <input class="btn btn-success" type="submit" id="submit" value="Add Room">
    </form>

    <div class="leave">
        <a class="btn btn-warning" href="{{ url_for('logout') }}">Logout</a>
    </div>
{% endblock %}
