{% extends "base.html" %}

{% block title %} Welcome in {{ room }}! {% endblock %}

{% block extra_js %}
<script type="text/javascript">
    window.room = "{{ room.id }}";
</script>
<script src="/static/js/chat.js"></script>
{% endblock %}

{% block content %}

        <div id="chat">
            <div id="connecting">
                <div class="wrap">Connecting to socket.io server</div>
            </div>

            <div id="messages">
                <div id="nicknames"><span class="badge badge-info">Online:</span></div>
                <div id="lines"></div>
            </div>

            <form id="send-message">
                <input id="message">
                <button class="btn btn-inverse">Send</button>
            </form>
        </div>

        <div class="leave">
            <a class="btn btn-primary" href="/">Leave room</a>
        </div>
{% endblock %}
